.banner {
    background: var(--cor-azul-degrade);
    color: var(--cor-branco);
    text-align: center;
    padding: 2.5em  2em;
}
.banner__titulo {
    font-weight: 700;
    font-size: 1.125rem;
    
}
.banner__texto {
    font-weight: 500;
    margin: 1em 0;
}

.banner__pesquisa {
    background-color: transparent;
    color: var(--cor-branco);
    border-radius: 1.5rem;
    border: 1px solid var(--cor-branco);
    padding: 0.625rem 1.5rem;
    width: 100%;
}
.banner__pesquisa::placeholder {
    font-family: var(--font-primaria);
    font-size: 0.875rem;
    color: var(--cor-branco);
    text-align: center;
    font-weight: 400;
    background: url(../assets/img/Lupa.svg);
    background-repeat: no-repeat;
    
}

@media screen and (min-width: 1024px) {
    .banner__titulo{
        font-size: 2.25rem;
        
    }

    .banner__pesquisa {
        width: 50%;
        
    }
    .banner__pesquisa::placeholder {
        background-position: 5.5em;
    }
}