.cabecalho {
    background-color: var(--cor-branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__meunu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../assets/img/Menu.svg");
    background-repeat: no-repeat;
    display: inline-block;
    background-position: center;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em
}

.container__botao {
    display: none;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
    z-index: 9;
}

.lista-menu__titulo,
.lista-menu__item {
    background-color: var(--cor-branco);
    padding: 1em;

}

.lista-menu__titulo {
    color: var(--cor-laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--cor-azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}
.opcoes {
    display: none;
}
/* ESCONDENDO ELEMENTOS DO LAYOUT MOBILE */
.container__titulo {
    display: none;
}

@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo-negrito {
        font-family: var(--font-secundaria);
        font-size: 1.875rem;
    }
    .container__titulo {
        font-weight: 400;
        display: block;
    }
    .container__titulo-negrito {
        font-weight: 700;
        
    }
    .cabecalho {
        padding: 0 4em;
    }
    .cabecalho__meunu-hamburguer {
        display: none;
    }
    .opcoes {
        display: flex;
    }
    .opcoes__item {
        font-size: 1rem;
        font-weight: 400;
        padding: 0.625rem;
    }
    .opcoes__link {
        text-decoration: none;
        color: var(--cor-preto);
        
    }
    .opcoes__botao {
        display: none;
    }
    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }
    .container__imagem-transparente {
        display:none;
    }

}