.under-topicos {
    padding-top: 1em;
    background: var(--cor-branco);
    
}
.topicos {
    background: var(--cor-azul-degrade);
    color: var(--cor-branco);
    padding: 1em 0;
}

.topicos__titulo {
    font-weight: 300;
    text-align: center;
    margin: 1em;
}

.topicos__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__lista-item {
    margin: 1.5em 0.5em;
}
.topicos__lista2 {
    display: none;
}
.topicos__link {
    text-decoration: none;
    font-weight: 700;
    font-size: 0.875rem;
    color: var(--cor-branco);
    background-color: var(--cor-laranja);
    padding: 1em;
}

@media screen and (min-width: 1024px) {
    .topicos__titulo {
        font-size: 1.5rem;
        font-weight: 300;
        
    }
    .topicos__lista {
        display: none;
    }
    .topicos__lista  topicos__lista--1024{
        display: grid;
        margin: auto 13%;
        justify-content: space-around;
    }
    .topicos__lista-item {
        margin: 2em 0.5em;
    }
    .topicos__link {
        font-size: 1.5rem;
        font-weight: 700;
        
    }
}